*{ 
    background-color:rgb(255, 22, 22);}
footer{
        padding: 10px;
        margin: 0;
        position: absolute;
        bottom: 0 vh;
        width: 97.3%;
        text-align: center; }
a{
    margin: 5px;}
p{ 
    color: white;
    margin: 0;}
img {
    width: 40px;}